.form {
    margin-bottom: 16px;
    display: flex;
    gap: 16px;
    margin-left: 32px;
}

.input {
    padding: 8px;
    font-weight: 500;
    line-height: 1.5;
}

.button {
    background-color: brown;
    border: none;
    border-radius: 8px;
    padding: 16px;
    color: whitesmoke;
    font-weight: 500;
    transition: background-color 250ms ease-in-out;
}

.button:hover {
    background-color: rgb(112, 29, 29);
}